html, body
{
	scroll-padding-top: 3.5rem;
}

body
{
	margin-top: 3rem;
}

header
{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
}

article, article > header, article section
{
	margin-bottom: 3em;
}

pre, code, .tpp-enable-if > a
{
	font-family: 'Consolas', 'Source Sans Pro', monospace;
}

a.tpp-external
{
	font-weight: normal;
}
pre a.tpp-external,
pre a.tpp-injected
{
	font-weight: inherit !important;
	color: inherit !important;
}

.tpp-enable-if
{
	margin-bottom: 2px;
}

.tpp-enable-if > *
{
	display: inline-block;
	border-radius: 0.2rem;
	background-clip: padding-box !important;
	padding: 0px 2px;
	text-decoration: none;
}

.tpp-enable-if > a
{
	white-space: nowrap;
	font-size: 0.8rem;
	font-weight: bold;
	background-color: #858585;
	color: #050505;
	padding-bottom: 0px;
	margin: 0px 1px;
	margin-bottom: 2px;
}

.tpp-enable-if > a:hover
{
	background-color: #747474;
	color: initial;
}

.tpp-enable-if > span
{
	display: none;
	padding-left: 2em;
}

@media screen and (min-width: 576px)
{
	nav .m-thin
	{
		margin-left: 0.5em;
	}

	nav .github
	{
		padding-left: 44px !important;
		background-image: url("github-icon.png");
		background-repeat: no-repeat;
		background-size: 25px 25px;
		background-position: -30px center;
		background-origin: content-box;
	}
}

@media screen and (max-width: 575px)
{
	nav .m-thin, nav .github
	{
		display: none;
	}
}

/* code blocks w/ output examples */
pre.m-code + pre.m-console
{
	margin-top: -1.0rem;
	border-top: 1px solid #444444;
	font-size: 0.8rem;
}
pre.m-code + pre.m-console span
{
	color: #bababa; /* is yououou */
}

/* "Parameters", "Returns" etc */
.m-doc-details div table.m-table.m-fullwidth.m-flat thead tr th,
.m-doc-details div table.m-table.m-fullwidth.m-flat tfoot tr th,
.m-doc-details div table.m-table.m-fullwidth.m-flat tfoot tr td strong em,
.m-doc-details div table.m-table.m-fullwidth.m-flat tbody tr td strong em
{
	color: #a5c9ea;
}

/* comments */
.m-code .c1
{
	color: rgb(87,166,74);
}

/* int and float literals */
.m-code .mi,
.m-code .mf
{
	color: rgb(181,206,168);
}

/* keywords */
.m-code .k
{
	color: rgb(86,156,214);
}

/* identifier names */
.m-code .n
{
	color: rgb(220,220,220);
}

/* punctuators (brackets etc) */
.m-code .p
{
	color: rgb(120,120,120);
}

/* preprocessor directives */
.m-code .cp
{
	color: rgb(120,120,120);
}

/* string literals, "includes" */
.m-code .s,
.m-code .sa,
.m-code .dl,
.m-code .cpf
{
	color: rgb(214,157,133);
}

.m-code .kt,
.m-code .k,
.m-code .nc
{
	font-weight: normal;
}

/* user types and typedefs */
.m-code .ut,
.m-code .nc
{
	color: rgb(78,201,176);
}

/* namespace::scopes:: */
.m-code .ns
{
	color: rgb(140,140,140);
}

/* github badges (index.html) */
.gh-badges
{
	padding-bottom: 0.25rem;
	margin-left: -0.9rem;
	margin-right: -0.9rem;
	margin-top: -0.5rem;
}

@media screen and (min-width: 992px)
{
	.gh-badges
	{
		display: flex;
		justify-content: space-between;		
	}
	.gh-badges br
	{
		display: none;
	}
}
@media screen and (max-width: 991px)
{
	.gh-badges
	{
		text-align: center;
		line-height: 1.75rem;
	}
	.gh-badges a
	{
		margin-left: 0.2rem;
		margin-right: 0.2rem;
		margin-bottom: 0.4rem;
	}
}

/* page category subheading ("module" etc) */
h1 span.m-thin
{
	color: #747474;
}

/* banner on index page */
main > article > .m-container.m-container-inflatable > .m-row > div.m-col-l-10.m-push-l-1 > img.m-image
{
	border-color: #405363;
	border-style: solid;
	border-width: 0.1rem;
	margin-left: -1rem;
	margin-right: -1rem;
	margin-top: -1.75rem;
	max-width: calc(100% + 2rem);
}
