version: 0.13.2{build}

clone_depth: 5

build:
  parallel: true
  verbosity: normal

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      ARCHITECTURE: x64
      GEN: "Visual Studio 15 2017 Win64"
      CFG: Release
      BUILD_OUT: "x64-Release"
  #  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
  #    ARCHITECTURE: x86
  #    GEN: "Visual Studio 15 2017"
  #    CFG: Release
  #    BUILD_OUT: "x86-Release"
  VULKAN_SDK_URL: https://sdk.lunarg.com/sdk/download/1.1.106.0/windows/vulkan-sdk.exe?Human=true;u=
  VULKAN_SDK: "C:\\VulkanSDK\\1.1.106.0"
  OPENAL_SDK_URL: https://openal-soft.org/openal-binaries/openal-soft-1.19.1-bin.zip
  OPENALDIR: "C:\\openal-soft"
  NINJA_URL: https://github.com/ninja-build/ninja/releases/download/v1.9.0/ninja-win.zip
  MSVC_HOME: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community"

install:
  - git submodule update --init --recursive
  # Get Vulkan SDK
  - appveyor DownloadFile %VULKAN_SDK_URL% -FileName vulkan-sdk.exe
  - .\vulkan-sdk.exe /S
  # Get OpenAL SDK
  - appveyor DownloadFile %OPENAL_SDK_URL% -FileName openal-soft.zip
  - 7z x openal-soft.zip && del /f openal-soft.zip
  - move "openal-soft-*" %OPENALDIR%
  # Get Ninja
  - appveyor DownloadFile %NINJA_URL% -FileName ninja.zip
  - 7z x ninja.zip -oC:\ninja > nul
  # Sets the path
  - set PATH=C:\ninja;C:\Python36;%PATH%

build_script:
  - call "%MSVC_HOME%\VC\Auxiliary\Build\vcvarsall.bat" %ARCHITECTURE%
  - mkdir Build\%BUILD_OUT% && cd Build\%BUILD_OUT%
  - cmake -DCMAKE_BUILD_TYPE=%CFG% -DACID_LINK_RESOURCES=OFF -GNinja ../../
  - ninja
  - ninja install
  - cd ../../

after_build:
  - mkdir Artifacts\%CFG%_%ARCHITECTURE%
  - xcopy Build\%BUILD_OUT%\lib Artifacts\%CFG%_%ARCHITECTURE%\lib\ /s/h/e/k/f/c
  - xcopy Build\%BUILD_OUT%\bin Artifacts\%CFG%_%ARCHITECTURE%\bin\ /s/h/e/k/f/c
  - xcopy Build\%BUILD_OUT%\install\include\Acid Artifacts\%CFG%_%ARCHITECTURE%\include\Acid\ /s/h/e/k/f/c
  - xcopy Resources Artifacts\%CFG%_%ARCHITECTURE%\bin\Resources\Engine\ /s/h/e/k/f/c

artifacts:
  - path: Artifacts\%CFG%_%ARCHITECTURE%\
    name: "Acid (%CFG% %ARCHITECTURE%)"
