[submodule "External/volk"]
	path = External/volk
	url = https://github.com/zeux/volk
[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw
[submodule "External/freetype"]
	path = External/freetype
	url = https://github.com/freetype/freetype
[submodule "External/glslang"]
	path = External/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "External/bullet3"]
	path = External/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "External/physfs"]
	path = External/physfs
	url = https://github.com/icculus/physfs
[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest
